<%= form_for(@recurring) do |f| %>
  <% if @recurring.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recurring.errors.count, "error") %> prohibited this recurring from being saved:</h2>

      <ul>
      <% @recurring.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :recurring_flag %><br>
    <%= f.number_field :recurring_flag %>
  </div>
  <div class="field">
    <%= f.label :last_date %><br>
    <%= f.text_field :last_date %>
  </div>
  <div class="field">
    <%= f.label : %><br>
    <%= f.text_field : %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
