<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recurring.user_id %>
</p>

<p>
  <strong>Recurring flag:</strong>
  <%= @recurring.recurring_flag %>
</p>

<p>
  <strong>Last date:</strong>
  <%= @recurring.last_date %>
</p>

<p>
  <strong>:</strong>
  <%= @recurring. %>
</p>

<%= link_to 'Edit', edit_recurring_path(@recurring) %> |
<%= link_to 'Back', recurrings_path %>
